/* font color #222 for titles and #444 for text */

* {
    box-sizing: border-box;
}
/* Base Styles */

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../images/waves.png);
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.superWrap {
    margin: 0 auto;
}



.wrapper {
    max-width: 960px;
}


h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* Navigation */
.name {
    font-size: 1.25em;
    color: #fff;
    margin: 0;
    float: left;
    padding: 0.5em 1em;
    padding-bottom: 20px;
    margin-left: 120px;
    background-color: darkcyan;
    color: #fff
    font-family: 'Georgia', Times, Times New Roman, serif;;
}

.main-nav {
    float: right;
    max-width: 960px;
}

.main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
    padding-top: .5em;
    padding-bottom: .5em;
    color: grey;
    border-right: 1px lightgrey solid;
}

.main-nav li {
    display: inline-block;
    margin-top: 0.5em;
}

.main-header {
    background-color: #fff;
    height: 4em;
    border-bottom: solid 2px slategrey;
}

/* Main Section Content */
.about{
    overflow: auto;
    max-width: 650px;
    float: left;
    width: 50%;
    padding: 10px;
    background-color: #fff;
}

/* SideBar */

.sidebar {
    max-width: 270px;
    float:left;
    display: inline-block;
    text-align: center;
    overflow: auto;
}

/* Class Specific */

/* Footer */
footer {
    border-top: solid 3px darkcyan;
    padding: 1.2em;
    background-color: #666;
    text-align: center;
    font-size: .8em;
    color: #fff;
}

/* CLEARFIX */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
